//-
  ---
  title: Tonel de Diógenes
  menu: !include _menu.yml
  classes: tonel
  ---

extends ../lib/layouts/default

block top
  nav.fixed.segment.nosl
    p.caps Argentina #17, Col. Americana
    div.caps
      ul.reset
        li: +linkFor('/')
          +iconImage('fauno')
        li: +linkFor('/tonel/#drinks', 'Bebidas').shadow
        li: +linkFor('/tonel/#food', 'Pequeña cocina').shadow

block body
  .body.segment.center
    div.nosl
      .push
        img.fit(src='//placehold.it/960x420')

      .push
        +linkFor('/tonel')
          image.fit.max(src='tonel')
        p: span Cerveza Artesanal

      each section in menu.sections
        .push.separator: a(name=section.name)

        for item in section.items
          .push(class=item.class)
            if item.label
              h3.caps.shadow= item.label
                if item.unit
                  small (#{item.unit})

            if item.legend
              h4.caps.shadow= item.legend

            if item.notes
              small= item.notes

            for prod in item.products
              +prodItem(prod)

              if prod.desc
                for line in prod.desc
                  p.desc: em= line

              if prod.options
                .flex
                  each opt in prod.options
                    +prodItem(opt)
